<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>偽網頁 ng-app</title>
</head>
<body ng-app ng-init='username="DL"'>

  <!-- 

  ● AngularJs特性和優點：
    1.雙向數據綁定。
    2.聲明式依賴注入。
    3.解耦應用邏輯，數劇模型和視圖。
    4.完善的頁面指令。
    5.定制表單驗證。
    6.Ajax封裝。

  ● 與jQuery的比較：
    - jQuery：
      1.JS的函數庫。
      2.封裝簡化的DOM操作。
    
    - Angular：
      1.JS結構化框架。
      2.主體不再是DOM，而是頁面中的動態數據。

  ● AngularJS能做什麼項目：
    1.建構單頁面(SPA)Web應用或Web App應用。
      - 單頁面應用(SPA)：Single Page Application
      - 特點：
        1-1.將所有的活動局限於一個頁面。
        1-2.當頁面中有部份數據發生了變化不會去刷新整個頁面，而是局部刷新。
        1-3.利用Ajax技術、路由等來實現。
    
    2.應用：
      2-1.餓了嗎？
      2-2.微信網頁版
      2-3.知乎周報
      2-4.後台管理應用：阿里云、土豆後台、唯品會...

  ● Angular 專有名詞：
    1.ng-app (指令)：告訴angular核心管理當前標籤所包含的整個區域，並且會自動創建 $rootScope 根作用域物件。
    2.ng-model：將當前輸入框的值與誰關聯(屬性名：屬性值)，並作為當前作用域物件 ($rootScope) 的屬性。
    3.{{}}(表達式)：顯示數劇，從當前作用域物件的指定屬性名上取的數據值。
      3-1.表達式：通常有一個返回值，可以放在任何需要值的地方，比如函數調用的參數，一個變量名，一個運算，
          表達式通常無法執行，語句可執行。
            EX：
              1+1 => 表達式
              username => 表達式
              console.log(1+1); => 語句
              if() => 較特殊的表達式語句

      3-2.語句：通常表示一個完整的執行單位，一段完整的js可執行的代碼，有的語句也可以用表達式來執行，叫做
          表達式語句。

      3-3.區別：語句用分號(;)結尾，有些語句我們沒有加分號，比如console.log雖然沒加分號，但也是語句，js引
          擎在解析的時候會自動加上分號。

      3-4.特例：if語句，就不用加分號，可也是完整的語句。

    ● Angular 雙向數據綁定： 
      1.數據綁定：數據從一個地方A轉移(傳遞)到另一個地方B，而且這個操作由【框架】來完成。

      2.雙向數據綁定：數據可以從View(視圖層)流向Model(模型)，也可以從Model流向View。
        2-1.視圖(View)：也就是我們的頁面(主要是Angular指令和表達式)。
        2-2.模型(Model)：作用域物件(當前為 $rootScope )，它可以包含一些屬性或方法。
          - 當改變View中的數據，Model物件的對應屬性也會隨之改變：ng-model指令 數據從View==>Model。
          - 當Model作用域物件的屬性發生改變時，頁面對應的數據隨之更新： {{}}表達式  數據從Model==>View。
          - ng-model是雙向數據綁定，而{{}}是單向數據綁定。

      3.ng-init：用來初始話當前作用域變量。

  ● 依賴注入：
    1.依賴物件：完成某個特定的功能需要某個物件才能實現，這個物件就是依賴物件(EX：event.clientX)。
    2.依賴注入：依賴的物件以形參的形式被注入進來使用，這種方式就是聲明式依賴注入 (EX：even)。
      - 回調函數的event就是依賴物件。
      - 回調函數有形參就是依賴注入。
      - Angular的【$scope】物件就是依賴物件，並且是依賴注入的形式作為形參使用。
      ※ 注意：形參必須是特定的名稱，否則Angular無法注入拋異常。     

  ● 開發的兩種依賴注入方式：
      需求：將陣列裡的每一項值加10輸出
        1.命令式依賴注入：
          - 更加注重的是執行的過程。
          - 更像考試時的解答題。
          - 例：
            let arr = [1,2,3,4,5];
            let newArr = [];
            for(let i = 0 ; i < arr.length; i++){
              let value = arr[i] + 10;
              newArr.push(value);
            }
            console.log(newArr);

      2.聲明式依賴注入：
        - 更加注重的是執行的結果。
        - 聲明式是對命令的局部包裝。
        - 更像選擇題或填空題。
        - 例：
            let newArr2 = arr.map((item,i)=>{
              return item + 10;
            })
            console.log(newArr2);
 -->  
  <input type="text" [(ngModel)]="username">
  <p>您當前輸入的值為： {{username}}</p>

</body>
</html>